<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Players</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

<h3>Players</h3>

<form method="get" th:action="@{/players}">
    <label for="pageSize">Players per page:</label>
    <select id="pageSize" name="size" onchange="this.form.submit()">
        <option value="5" th:selected="${pageSize == 5}">Show 5 players</option>
        <option value="10" th:selected="${pageSize == 10}">Show 10 players</option>
        <option value="20" th:selected="${pageSize == 20}">Show 20 players</option>
    </select>
    <input type="hidden" name="playerSort" th:value="${playerSort}" />
    <input type="hidden" name="page" value="0"/>
</form>

<table border="1">
    <thead>
    <tr>
        <th><a th:href="@{/players(page=0, size=${pageSize}, playerSort='id')}">ID</a></th>
        <th><a th:href="@{/players(page=0, size=${pageSize}, playerSort='user.name')}">Name</a></th>
        <th>Team</th>
        <th>Player Stats</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${playerPage != null}" th:each="player : ${playerPage.content}">
        <td th:text="${player.id}"></td>
        <td th:text="${player.user.name}"></td>
        <td th:text="${player.team.name}"></td>
        <td th:text="${player.playerStats}"></td>
    </tr>
    </tbody>
</table>

<div>
    <a th:if="${currentPage > 0}" th:href="@{/players(page=${currentPage - 1}, size=${pageSize}, playerSort=${playerSort})}">Previous</a>
    <span> Page <span th:text="${currentPage + 1}"></span> of <span th:text="${playerPage.totalPages}"></span> </span>
    <a th:if="${currentPage + 1 < playerPage.totalPages}" th:href="@{/players(page=${currentPage + 1}, size=${pageSize}, playerSort=${playerSort})}">Next</a>
</div>

<a href="/dashboard">Back to Dashboard</a>

</body>
</html>