<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title th:text="'Team Details - ' + ${team.name}"></title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<h1 th:text="'Details of Team: ' + ${team.name}"></h1>

<!-- Display the team's details -->
<div>
    <p><strong>ID:</strong> <span th:text="${team.Id}"></span></p>
    <p><strong>Name:</strong> <span th:text="${team.name}"></span></p>
    <p><strong>Description:</strong> <span th:text="${team.description}"></span></p>
    <p><strong>Created At:</strong> <span th:text="${team.createdAt}"></span></p>
    <p><strong>Updated At:</strong> <span th:text="${team.updatedAt}"></span></p>
</div>

<!-- Display the players associated with the team -->
<h2 th:text="'Players in ' + ${team.name}"></h2>
<table>
    <thead>
    <tr>
        <th><a th:href="@{/teams/{id}(id=${team.Id}, playerSort='id')}">ID</a></th>
        <th><a th:href="@{/teams/{id}(id=${team.Id}, playerSort='user.name')}">Name</a></th>
        <th>Stats</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="player : ${players}">
        <td th:text="${player.id}"></td>
        <td th:text="${player.user.name}"></td>
        <td th:text="${player.playerStats}"></td>
    </tr>
    </tbody>
</table>

<a href="/dashboard">Back to Dashboard</a>
</body>
</html>
