<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Teams</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<!--<h1>Teams</h1>-->

<!-- Teams Table -->
<h3>Teams</h3>
<table border="1">
    <thead>
    <tr>
        <th><a th:href="@{/teams(teamSort='id')}">ID</a></th>
        <th><a th:href="@{/teams(teamSort='name')}">Name</a></th>
        <th>Description</th>
        <th>Creation Date</th>
        <th>Updated Date</th>
    </tr>
    </thead>
    <tbody>
    <!-- Loop through the 'teams' list -->
    <tr th:each="team : ${teams}">
        <td th:text="${team.id}"></td>
<!--        <td><a th:href="@{/teams/{id}(id=${team.id})}" th:text="${team.name}"></a></td>-->
        <td><a th:href="@{/teams/{id}(id=${team.id}, from='teams')}" th:text="${team.name}"></a></td>
        <td th:text="${team.description}"></td>
        <td th:text="${team.createdAt}"></td>
        <td th:text="${team.updatedAt}"></td>
    </tr>
    </tbody>
</table>

<a href="/dashboard">Back to Dashboard</a>

</body>
</html>
